@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @*用email tag， code在emailtaghelper*@
        @*<a href="Mailto:support@contoso.com">Support@contoso.com*@
        <email mail-to="support@contoso.com"></email>
        @*元素级的bold tag,code在boldtaghelper*@
        <bold color="green">bold</bold>
        @*属性级的bold tag,code在boldtaghelper*@
        <p bold color="red">bold too</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <cache expires-after="@TimeSpan.FromSeconds(30)">
            @await Component.InvokeAsync("InternetStatus")
        </cache>
        
    </div>
